langchain
langchain-core
langchain-openai
langchain-anthropic
langgraph
langchain-text-splitters

pydantic
pydantic-settings
python-dotenv
PyJWT

sqlalchemy
psycopg[binary]
pgvector

fastapi
uvicorn[standard]
python-multipart

pandas
python-docx
pypdf
tiktoken
boto3

pytest
